HELP.md
.gradle
.claude/
.idea/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Enviroment Variables ###
.env
.env.local
.env.development
.env.production

# Mac
.DS_Store

# Logs
logs/
*.log

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Eclipse metadata
.metadata/

# Lab files
Laborator/

#Scripts
scripts/

#docs
docs/GITHUB_SETUP_GUIDE.md
docs/ISSUES.md
docs/ISSUES_BY_PROJECT.md
docs/MILESTONES.md
docs/PROJECTS.md
docs/SPRINT_1_ISSUES.md

# Database
database/backup/physical/*
database/backup/logical/*
!database/backup/physical/.gitkeep
!database/backup/logical/.gitkeep
database/test/**/*.class
database/test/com/
*.jar
!gradle/wrapper/*.jar
